.App {
  text-align: center;
  width: 90%;
  margin: auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.half-width{
  width: 50%;
  height: 100%;
  vertical-align: middle;
  margin: auto;
}

.bold{
  font-weight: 700;
}

.outline{
  border-color: rgba(200,200,200,0.8);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

.whitebg{
  background-color: white;

}

.padded{
  padding: 10px;
}

.table.is-borderless
td, 
th
{
  border: 0;
}
